
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');


style{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url('Cakes.jpg');
    
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
}
header
{
    position:absolute;
    top: 0;
    right: 100;
    width: 65%;
    padding: 20px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

header .left
{
    padding-left: 10px; 
    padding-top: -20px;
    font-size: xx-large;
    font-weight: 900;
    position: relative;
    text-align: center;
    color: rgb(79, 36, 82);
}

header .navbar
{
    padding-right: -15px; 
    padding-top: -30px;
    font-size: x-large;
    font-weight: bold;
    position: relative;
    text-align: right;
    color: rgb(79, 36, 82);
}

header .logo
{
    position: relative;
    max-width: 180px;

    
}

header ul
{
    position: relative;
    display: flex;
   
}

header ul li
{
    list-style: none;
    word-spacing: 5px;
    padding-left:50px;
    padding-top: -20px;
    font-size: x-large;
    position: relative;
    text-align: center;
    color: rgb(79, 36, 82);
}

header ul li a:hover
{
    display: inline-block; 
    color: rgb(208, 114, 215);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: underline;
    
    
    
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 800px;
}

.content .textBox h2
{
    color: rgb(79, 36, 82);
    font-size: 3em;
    margin-top: -100px;
    line-height: 1.4em;
    font-weight: 500;

}

.content .textBox h2 span
{
    color: rgb(79, 36, 82);
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 850;

}

.content .textBox h4
{
    color: rgb(79, 36, 82);
    font-size: x-large;
    word-spacing: 5px;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(96, 15, 68);
    color: rgb(232, 209, 209);
    border-radius: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}

.content .imgBox
{
    width: 575px;
    display: run-in;
    justify-content: flex-end;
    padding-right: 75px;
    margin-top: -55px;


}

.content .imgBox .img
{
    
    height: 10%;
    padding-left: 80px;
   
}

.thumb
{
    position: absolute;
    left:   30%;
    bottom: 200px;
    transform:translateX(-50%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.75%;
}

.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-width: 90px;
}

.sci
{
    position: absolute;
    left:   30%;
    bottom: 70px;
    transform:translateX(-50%);
    display: flex;
}

.sci li
{
    
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}

.sci li a
{
    display: inline-block;
    margin-bottom: -5px;
    transform: scale(0.6);
    filter: invert(0);
    
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(248, 215, 215);
    clip-path: circle(600 px at right 800px);
}